{% extends 'base.html.twig' %}

{%  block stylesheets %}
    {{  parent() }}
{% endblock %}

{% block body %}
    {{  parent() }}
    <div id="404kal">trwa inicjalizacja, prosze czekac...</div><script type="text/javascript" src="http://404bajery.pl/kalendarz/kal.php?tlo=CCFFFF&czcionka=000000&nag=33FFFF&dni=99FFFF&dzis=33FFFF&szer=160"></script>

    <div class="container">
        <h1>Strona w budowie</h1>
        <img src ={{ asset('images/build.png') }} alt="budowa"/>

    </div>

    <style>
        .container {
            font-family: Arial, sans-serif;
            text-align: center;
            overflow: hidden;
            max-width: 500px;
            margin: auto;
            top: 30px;
            position: relative;
            padding: 50px 20px;
            border: transparent;
        }
    </style>

{% endblock %}