{% extends 'logged/aptekarz/main.html.twig' %}

{% block body %}
    {{  parent() }}

    <script>
        document.getElementById("home").classList.add('active');
    </script>

    <div class="container">
        <h1>Apteka: {{ apteka[0].name }}</h1>
        <h3>Ostatnie powiadomienia:</h3>
        {% if lekiList != null %}
            Kończą się zapasy następujących leków:
            <center>
            <table>
                <tr>
                    <b>
                    <th>Nazwa</th>
                    <th>Ilość</th>
                    </b>
                </tr>
            {% for lek in lekiList %}
                <tr>
                    <th>
                        {{ lek.name }}
                    </th>
                    <th>
                    {% if lek.ilosc == 0 %}
                        <b><font color="red">BRAK</font> </b>
                    {% else %}
                        {{ lek.ilosc }}
                    {% endif %}
                    </th>
                </tr>
            {% endfor %}
            </table>
            </center>
        {% else %}
            Brak powiadomnień!
        {% endif %}
    </div>

    <style>
        .container {
            font-family: Arial, sans-serif;
            text-align: center;
            overflow: hidden;
            max-width: 500px;
            margin: auto;
            top: 30px;
            position: relative;
            padding: 50px 20px;
            border: transparent;
        }

        .container ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            height: 50px;
            overflow: hidden;
        }
        .container li {
            float: left;
        }
    </style>

{% endblock %}