{% extends 'base.html.twig' %}

{%  block stylesheets %}
    {{  parent() }}
{% endblock %}

{% block body %}
    {{  parent() }}

    <div class="container">
        <h1>Witaj, Adam Aptekarz!</h1>
        <h3>Ostatnie powiadomienia:</h3>
        Brak
    </div>

    <style>
        .container {
            font-family: Arial, sans-serif;
            text-align: center;
            overflow: hidden;
            max-width: 500px;
            margin: auto;
            top: 30px;
            position: relative;
            padding: 50px 20px;
            border: transparent;
        }

        .container ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            height: 50px;
            overflow: hidden;
        }
        .container li {
            float: left;
        }
    </style>

{% endblock %}