{% extends 'logged/aptekarz/main.html.twig' %}


{% block body %}
    {{  parent() }}

    <script>
        document.getElementById("recepty").classList.add('active');
    </script>

    <div class="container">
        <h1>Wyszukaj receptę</h1>
        <input id="sInput" type="text" placeholder="Numer" name="uname">
        <button id="btn" onclick="myFunction()" type="button">Szukaj</button>
        <pre><label id="p"></label></pre>
    </div>
    <style>
        .container {
            font-family: Arial, sans-serif;
            text-align: center;
            overflow: hidden;
            max-width: 500px;
            margin: auto;
            top: 30px;
            position: relative;
            padding: 50px 20px;
            border: transparent;
        }
    </style>
    <script>
        var sInput
        function myFunction() {
            sInput = document.getElementById('sInput').value;
            if(sInput == "") {
                document.getElementById("p").innerHTML = "Wpisz numer recepty";
            } else{
                document.getElementById("p").innerHTML = "Nie ma takiej recepty";
            }
        }
    </script>

{% endblock %}