{% extends 'base.html.twig' %}

{%  block stylesheets %}
    {{  parent() }}
{% endblock %}

{% block body %}
    {{  parent() }}

    <div class="container">
        <h1>Strona w budowie</h1>
        <img src ={{ asset('images/build.png') }} alt="budowa"/>



    </div>

    <div class="container">

        <table id="apteki">

            <tr class="header">

                <td>Nazwa</td>
                <td>Adres</td>
                <td>Godiny otwarcia</td>


            </tr>
            <tr class =emp>
                <td>Stokrotka</td>
                <td>Kraków, ul Szczęsna 5</td>
                <td>9-20</td>

            </tr>

            <tr class =emp>
                <td>Stokrotka</td>
                <td>Kraków, ul Szczęsna 5</td>
                <td>9-20</td>
            </tr>

            <tr class =emp>
                <td>Stokrotka</td>
                <td>Kraków, ul Szczęsna 5</td>
                <td>9-20</td>
            </tr>

            <tr class =emp>
                <td>Stokrotka</td>
                <td>Kraków, ul Szczęsna 5</td>
                <td>9-20</td>
            </tr>

        </table>

    </div>

    <style>
        .container {
            font-family: Arial, sans-serif;
            text-align: center;
            overflow: hidden;
            max-width: 500px;
            margin: auto;
            top: 30px;
            position: relative;
            padding: 50px 20px;
            border: transparent;
        }
        table#apteki{
            border-collapse: collapse;
            width: 500px;
        }
        #apteki td{
            border-width: 1px;
            border-style: solid;
            border-color: #000000;
            padding:5px;
        }
        #apteki .header{
            background-color: #dbe5f1;
            font-weight: bold;
        }

        #apteki .emp{
            background-color: #f3f3f3;
        }
    </style>

{% endblock %}