{% extends 'logged/lekarz/main.html.twig' %}


{% block body %}
    {{  parent() }}

    <div class="container">
        <h1>Witaj, {{ lekarz[0].imie }} {{ lekarz[0].nazwisko }}!</h1>
        <h3>Ostatnie powiadomienia:</h3>
        <red>Brak leków!</red>
    </div>



    <style>
        .container {
            font-family: Arial, sans-serif;
            text-align: center;
            overflow: hidden;
            max-width: 500px;
            margin: auto;
            top: 30px;
            position: relative;
            padding: 50px 20px;
            border: transparent;
        }

        red {
            font-family: Arial, sans-serif;
            text-align: center;
            overflow: hidden;
            color: red;
        }
    </style>

{% endblock %}