{% extends 'logged/lekarz/main.html.twig' %}

{%  block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    {{  parent() }}

    <script>
        document.getElementById("pacjenci").classList.add('active');
    </script>

    <div class="container">
        <h2>Wyszukaj pacjenta</h2>
        {{ form(search_form) }}
    </div>
    {% if pacjentList != null %}
        {% for pacjent in pacjentList %}
            <p>{{ pacjent.getImie }}</p>
        {% endfor %}
        <p>cycki</p>
    {% else %}
        <p>dupa</p>
    {% endif %}
{% endblock %}