{% extends 'logged/lekarz/main.html.twig' %}


{% block body %}
    {{  parent() }}

    <script>
        document.getElementById("pacjenci").classList.add('active');
    </script>

    <div class="container">
        <h1>Wyszukaj pacjenta</h1>
        <input id="sInput" type="text" placeholder="Imię Nazwisko" name="uname">
    <button id="btn" onclick="myFunction()" type="button">Szukaj</button>
        <pre><label id="p"></label></pre>
    </div>
    <style>
        .container {
            font-family: Arial, sans-serif;
            text-align: center;
            overflow: hidden;
            max-width: 500px;
            margin: auto;
            top: 30px;
            position: relative;
            padding: 50px 20px;
            border: transparent;
        }
    </style>
    <script>
        var sInput;
        function myFunction() {
            sInput = document.getElementById('sInput').value;
            if(sInput == "Marcin" || sInput == "Pacjent" || sInput == "Marcin Pacjent") {
                document.getElementById("p").innerHTML = "Znaleziono pacjenta!\n" +
                    "Imię: Marcin\n" +
                    "Nazwisko: Pacjent\n" +
                    "Lekarz: Adam Lekarz\n";
            } else if(sInput == ""){
                document.getElementById("p").innerHTML = "Wprowadź imię lub nazwisko pacjenta!"
            } else{
                document.getElementById("p").innerHTML = "Nie ma takiego pacjenta";
            }
        }
    </script>
{% endblock %}