{% extends 'base.html.twig' %}

{%  block stylesheets %}
    {{  parent() }}
{% endblock %}



{% block body %}
    {{  parent() }}

    <form id="frm">
    <div class="container">
        <h1>Wyszukaj pacjenta</h1>
        <input id="srh" type="text" placeholder="Login" name="uname" required>
    <button id="btn" onclick="myFunction()" type="button">Szukaj</button>
    </div>
    </form>
    <style>
        .container {
            font-family: Arial, sans-serif;
            text-align: center;
            overflow: hidden;
            max-width: 500px;
            margin: auto;
            top: 30px;
            position: relative;
            padding: 50px 20px;
            border: transparent;
        }
    </style>
    <script>
        function myFunction() {
            document.getElementById("frm1").submit();
        }
    </script>
{% endblock %}