{% extends 'logged/lekarz/main.html.twig' %}


{% block body %}
    {{  parent() }}

    <div class="container">
        <h1>Nadchodzące wizyty</h1>
    </div>

    <div class="calendar">
    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=200&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=b9fvu0fljlstun5suq0eh1s2v4%40group.calendar.google.com&amp;color=%238D6F47&amp;ctz=Europe%2FWarsaw" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
    <style>
        .container {
            font-family: Arial, sans-serif;
            text-align: center;
            overflow: hidden;
            max-width: 500px;
            margin: auto;
            top: 30px;
            position: relative;
            padding: 50px 20px;
            border: transparent;
        }
        .calendar{
            font-family: Arial, sans-serif;
            text-align: center;
            overflow: hidden;
            max-width: 800px;
            margin: auto;
            top: 30px;
            position: relative;
            padding: 50px 20px;
            border: transparent;

        }
    </style>

{% endblock %}