{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="topnav">
        <ul>
            <li><a class="active" herf="Home">Home</a></li>
            <li><a herf="history">Grafik</a></li>
            <li><a herf="perscription">Baza Pacjentów</a></li>
            <li><a herf="about">Baza leków</a></li>
            <li><a herf="about">About</a></li>
            <li><img src ="Plaster.png" alt="Logo" width="150" height="50"/></li>
        </ul>
    </div>
{% endblock %}

