{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="topnav">
        <ul>
            <li><a class="active" herf="visits">Moje Wizyty</a></li>
            <li><a herf="perscription">Moje Recepty</a></li>
            <li><a herf="history">Moja Historia</a></li>
            <li><a herf="about">Moja Apteka</a></li>
            <li><a herf="about">About</a></li>
            <li><img src ="Plaster.png" alt="Logo" width="150" height="50"/></li>
        </ul>
    </div>
{% endblock %}

