<!DOCTYPE html>
<html>


<stylesheets>
    <link rel="stylesheet" href="{{ asset('css/topNav.css') }}">
    <link rel="stylesheet" href="{{ asset('css/message.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    {%  block stylesheets %}
    {% endblock %}
</stylesheets>

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Plaster{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('images/head.ico') }}" />
</head>

    <body>
    {% block body %}
    {% endblock %}
    </body>
{% block javascripts %}{% endblock %}
</html>