{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="topnav">
        <img src ="Plaster.png" alt="Logo" width="150" height="50"/>
        <a class="active" herf="home">Zaloguj</a>
        <a herf="about">About</a>
    </div>
{% endblock %}

