{% extends 'base.html.twig' %}

{%  block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    {{  parent() }}
    <div id="404kal">trwa inicjalizacja, prosze czekac...</div><script type="text/javascript" src="http://404bajery.pl/kalendarz/kal.php?tlo=CCFFFF&czcionka=000000&nag=33FFFF&dni=99FFFF&dzis=33FFFF&szer=160"></script>

{% endblock %}