{% extends 'logged/pacjent/main.html.twig' %}


{% block body %}
    {{  parent() }}

    <div class="container">
        <h1>Twoja historia</h1>
    </div>

    <style>
        .container {
            font-family: Arial, sans-serif;
            text-align: center;
            overflow: hidden;
            max-width: 500px;
            margin: auto;
            top: 30px;
            position: relative;
            padding: 50px 20px;
            border: transparent;
        }
    </style>

{% endblock %}