{% extends 'logged/pacjent/main.html.twig' %}


{% block body %}
    {{  parent() }}

    <div class="container">
        <h2>Wyszukaj lek</h2>
        {{ form(search_form) }}
    </div>

    {% if lekiList != null %}
        {% for lek in lekiList %}
            <div class="container">
                <p>
                <center>
                    <h2><b>Lek: {{ lek.getId }}</b></h2>
                    <b>Name:</b> {{ lek.getName }}<br>
                </center>
                </p>
            </div>
        {% endfor %}
    {% endif %}
    </div>


{% endblock %}