{% extends 'logged/pacjent/main.html.twig' %}


{% block body %}
    {{  parent() }}

    {% if receptaList != null %}
        {% for recepta in receptaList %}
            <div class="container">
                <p>
                <center>
                    <h2><b>Recepta:</b></h2>
                    <b>Lek:</b>{{ recepta.name }}<br>
                    <b>Data wystawienia:</b>  {{( recepta.date )|date('d-m-Y') }}<br>
                </center>
                </p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}