{% extends 'main/main.html.twig' %}

{% block body %}
    {{  parent() }}
    <script>
        document.getElementById("about").classList.add('active');
    </script>

    <div class="container">
        <h1>O projekcie</h1>
        <h3>Lorem ipsum</h3>
        <!-- start slipsum code -->

        Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.

        <!-- end slipsum code -->
        <img src ={{ asset('images/build.png') }} alt="budowa"/>

    </div>

    <style>
        .container {
            font-family: Arial, sans-serif;
            text-align: center;
            overflow: hidden;
            max-width: 500px;
            margin: auto;
            top: 30px;
            position: relative;
            padding: 50px 20px;
            border: transparent;
        }
    </style>

{% endblock %}