{% extends 'main/main.html.twig' %}

{%  block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    {{  parent() }}
    <script>
        document.getElementById("zaloguj").classList.add('active');
    </script>

    <form class="container" action=""{{ path('login') }} method="POST">
        <label><b>Login</b></label>
        <input for="_username"
                id="_username"
                name="_username"
                type="text"
                placeholder="Login"
                required
                autofocus>

        <label><b>Hasło</b></label>
        <input for="_password"
                id="_password"
                name="_password"
                type="password"
                placeholder="Hasło"
                required>

        <button type="submit">Zaloguj</button>
    </form>


{% endblock %}