{% extends 'registration/main.html.twig' %}

{%  block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    {{  parent() }}
    <div class="container">
        {{ form(registration_form) }}
    </div>

{% endblock %}